.color-encabezado {
  background: #195966;
  color: #ffffff;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 7rem; }

.footer {
  padding: 2rem 7rem 0rem 7rem;
  background: #fdbcb4;
  color: white;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.tarjeta {
  flex: 1 12rem;
  padding: 5px 5px 5px 5px;
  margin-top: 8px; }

nav a {
  color: white; }

.migadepan {
  color: black; }

.footer-icon {
  padding-right: 5px; }
