$blue: #195966;

@mixin margenes($top, $botton){
margin-top: $top;
margin-bottom: $botton;

}


.color-encabezado {
    background: $blue;
    color:#ffffff;
    @include margenes(3rem,3rem);
    height: 7rem;
    
    }
    
    .footer{
    padding: 2rem 7rem 0rem 7rem;
    background: #fdbcb4;
    color:white;
    @include margenes(3rem,3rem);
    
    }
    .tarjeta{
    flex: 1 12rem;
    padding: 5px 5px 5px 5px;
    margin-top: 8px;
    
    }
    
    
    
     nav a{
    color: white;
    
     }
    
    .migadepan{
    
        color: black;
    }
     
    .footer-icon{
    padding-right: 5px;
    
    }
    