@blue: #55C4F3;
@rosado: #fcc5f8;
@blanco: #ffffff;

.margenes(@top, @botton){
    margin-top: @top;
    margin-bottom: @botton;
    
    }
.espacios(@arriba; @aunlado; @alotro; @abajo){
    padding: @arriba @aunlado @alotro @abajo;

}


.color-encabezado {
    background: @blue;
    color: @blanco;
.margenes(3rem, 3rem);
    height: 7rem;
    
    }
    
    .footer{

     background: @rosado;
     .espacios(2rem; 7rem; 0rem; 7rem);
    color: @blanco;
    .margenes(0rem, 1rem);
    
    }
    .tarjeta{
    flex: 1 12rem;
    .espacios(5px, 5px, 5px, 5px);
    margin-top: 8px;
    
    }
    
    
    
     nav a{
    color: white;
    
     }
    
    .migadepan{
    
        color: black;
    }
     
    .footer-icon{
    padding-right: 5px;
    
    }
    