.color-encabezado {
  background: #62b3d8;
  color: #ffffff;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 7rem;
}
.footer {
  background: #fcc5f8;
  padding: 2rem 7rem 0rem 7rem;
  color: #ffffff;
  margin-top: 0rem;
  margin-bottom: 1rem;
}
.tarjeta {
  flex: 1 12rem;
  padding: 5px 5px 5px 5px;
  margin-top: 8px;
}
nav a {
  color: white;
}
.migadepan {
  color: black;
}
.footer-icon {
  padding-right: 5px;
}
